<body class="container">
  
<div class="tabla col-md-6 col-md-offset-3 img-rounded">


<h1>Editing User</h1>

<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>


</div>



</body>